* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: '궁서', 'Gungsuh', serif;
    display: flex;
    flex-direction: column; 
}


.top-bar {
    width: 100%;
    height: 4.5vh; 
    min-height: 35px;
    background-color: #ffffff;
    color: #292b23;
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-size: 1rem; 
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 10;
}

.archive {
    display: flex;
    width: 100vw;
    flex: 1; 
}

.person {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-decoration: none;
    transition: all 0.3s ease;
    
    padding-top: 3vh; 
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    
    height: 78%; 
    font-weight: bold;
    font-size: 10vw; 
    line-height: 1;
}


.hanja {
    display: none; 
}

.person:hover .hangul {
    display: none; 
}
.person:hover .hanja {
    display: flex; 
}


.col-1 { background-color: #292b23; color: #aea98d; }
.col-2 { background-color: #737164; color: #f4f0e3; }
.col-3 { background-color: #d6dbc5; color: #262328; }
.col-4 { background-color: #bdbfb4; color: #414141; }
.col-5 { background-color: #272328; color: #828174; }

@media (max-width: 768px) {
    .top-bar {
        font-size: 0.85rem;
        height: 40px;
    }
    
    .text-box {
        font-size: 15vw;
        height: 85%; 
    }
    
    .person {
        padding-top: 2vh;
    }
}